
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
#container{
    width: 960px;
    position: relative;
    transform: translate( -50%, 0);
    left: 50%;
}
header{
    #logo{
        width: 30vw;
        float: right;
    }
    #headcontainer{
        width: 50vw;
        float: left;
    }
    nav{
        width: 940px;
        float: left;
        a{
            text-decoration: none;
            color: skyblue;
        }
        a:hover{
            color: white;
            background-color: skyblue;
        }
    }
}   

article:first-of-type{
    width: 260px;
    h3{
        color: #07b6fe;
    }
    .contactLine{
        img{
            height: 10px;
            float: left;
        }
        p{
            float: left
        }
        p:after{
            content: '';
            clear: both;
        }
    }
}
#content{
    width: 50px;
}

